body {
  background-color: #F7F6F2;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif ;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px 0 0 0;
  color: #4B6587;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #4B6587;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #4B6587;
}
p {
}

hr {
  margin: 3rem 0
}

.frontEnd {
  text-decoration: underline;
}

.hero {
  position: relative;
}

.top-cloud {
  position: relative;
  left: 30em;
  top: 5em;
}

.bottom-cloud {
  position: absolute;
}

.img-one, .img-two {
  display: inline-block;
  width: 15em;
  height: 15em;
}

.copyright {
  width: .8rem;
  margin-right: .3rem;
}

.project-row {
  width: 50%;
  margin: 0 auto;
}