body {
  background-color: #F7F6F2;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif ;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px 0 0 0;
  color: #4B6587;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #4B6587;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #4B6587;
  margin-bottom: 0;
}

.projects p {
  margin: 0;
}

hr {
  margin: 5rem auto;
  border: dotted #4B6587 1rem;
  border-bottom: none;
  width: 25%;

}

.frontEnd {
  text-decoration: underline;
}

.hero {
  position: relative;
}

.top-cloud {
  position: relative;
  left: 30em;
  top: 5em;
}

.bottom-cloud {
  position: absolute;
}

.img-one, .img-two {
  display: inline-block;
  width: 15em;
  height: 15em;
}

.img-one {
  float: left;
  margin-right: 3rem;
}

.img-two {
  float: right;
  margin-left: 3rem;
}
.copyright {
  width: .8rem;
  margin-right: .3rem;
}

.project-row {
  width: 50%;
  margin: 6rem auto;
  text-align: left;
  line-height: 2;
}

button {
  padding: .7rem 1rem;
  border-radius: 3rem;
  background-color: #C8C6C6;
  border: none;
  box-shadow: 3px 3px 10px #8a8888;
  
}

button:hover {
  background-color: #8a8888;
  cursor: pointer;
}

h4 {
  margin: 0;
}




